# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# OS / Editor junk
# =========================
.DS_Store
.idea/
.vscode/
*.swp

# =========================
# Logs & runtime output
# =========
